[mysqld]
user = root
datadir = /app/data
port = 3306
log-bin = /app/binlog/mysql-bin
socket = /app/mysql.sock

[mysql]
socket = /app/mysql.sock

[mysql.server]
user = root
basedir = /app

[safe_mysqld]
err-log = /app/logs/mysqld_err.log
pid-file = /app/mysqld.pid
